In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

fuel_econ = pd.read_csv('fuel-econ.csv')

In [2]:
#Extracting Automatic/manual from the trans column
fuel_econ['trans_type'] = fuel_econ['trans'].apply(lambda x: x.split()[0])

In [3]:
# get the counts grouped by VClass and Trans type
ct_counts  = fuel_econ.groupby(['VClass','trans_type']).size()

In [4]:
ct_counts

VClass            trans_type
Compact Cars      Automatic     784
                  Manual        338
Large Cars        Automatic     605
                  Manual         20
Midsize Cars      Automatic     989
                  Manual        199
Minicompact Cars  Automatic     188
                  Manual        133
Subcompact Cars   Automatic     502
                  Manual        171
dtype: int64

In [5]:
#reset index to turn into a dataframe
ct_counts = ct_counts.reset_index(name = "count")
ct_counts

             VClass trans_type  count
0      Compact Cars  Automatic    784
1      Compact Cars     Manual    338
2        Large Cars  Automatic    605
3        Large Cars     Manual     20
4      Midsize Cars  Automatic    989
5      Midsize Cars     Manual    199
6  Minicompact Cars  Automatic    188
7  Minicompact Cars     Manual    133
8   Subcompact Cars  Automatic    502
9   Subcompact Cars     Manual    171

In [6]:
# pivot to break the auto/manual values out into variable names
ct_counts = ct_counts.pivot(index = 'VClass', columns = 'trans_type', values = 'count')

In [7]:
ct_counts

trans_type        Automatic  Manual
VClass
Compact Cars            784     338
Large Cars              605      20
Midsize Cars            989     199
Minicompact Cars        188     133
Subcompact Cars         502     171